spring:
  servlet:
    multipart:
      max-file-size:
        15MB
  datasource:
    url: jdbc:mysql://localhost:3306/mydb
    username: root
    password: 220322
  jpa:
    show-sql:  true
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
        implicit-strategy: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl       
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
        